
@font-face {
  font-family: 'Boomer-Tantrum';
  src:url('/assets/fonts/Boomer-Tantrum.ttf.woff') format('woff'),
      url('/assets/fonts/Boomer-Tantrum.ttf.svg#Boomer-Tantrum') format('svg'),
      url('/assets/fonts/Boomer-Tantrum.ttf.eot'),
      url('/assets/fonts/Boomer-Tantrum.ttf.eot?#iefix') format('embedded-opentype'); 
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Dosis-Regular';
  src:url('/assets/fonts/Dosis-Regular.ttf.woff') format('woff'),
      url('/assets/fonts/Dosis-Regular.ttf.svg#Dosis-Regular') format('svg'),
      url('/assets/fonts/Dosis-Regular.ttf.eot'),
      url('/assets/fonts/Dosis-Regular.ttf.eot?#iefix') format('embedded-opentype'); 
  font-weight: normal;
  font-style: normal;
}

/*light mode*/

:root {
    --font-family: 'Dosis-Regular', sans-serif;
    --c-bg: #e0eaf1;
    --c-nav: #0c4c7e;
    --c-text: #0c4c7e;
    --c-bg-navbar: #0c4c7e;
    --c-bg-sidebar: #e0eaf1;
    --c-border: #dee3e4;
    --c-text-accent: #f89a2a;
    --c-brand: #f89a2a;
    --content-width: 100%;
    --c-bg-arrow: var(--c-text-accent);
    --c-brand-light: var(--c-text);
    --navbar-height: 8rem;
    --navbar-padding: 2rem;

    //blue svg bg

    .navbar, .page-bar {
      background-color:transparent;
      border-bottom: none;
      background-image: url("data:image/svg+xml,%3Csvg width='100%25' height='100%25' id='svg' viewBox='0 0 1440 400' xmlns='http://www.w3.org/2000/svg' class='transition duration-300 ease-in-out delay-150'%3E%3Cpath d='M 0 400 C 0 400 0 100 0 100 C 203.0666666666666 78.80000000000001 406.1333333333332 57.60000000000001 560 63 C 713.8666666666668 68.39999999999999 818.5333333333335 100.39999999999999 957 111 C 1095.4666666666665 121.60000000000001 1267.7333333333331 110.80000000000001 1440 100 C 1440 100 1440 400 1440 400 Z' stroke='none' stroke-width='0' fill='%2347daf377' class='transition-all duration-300 ease-in-out delay-150 path-0' transform='rotate(-180 720 200)'%3E%3C/path%3E%3Cpath d='M 0 400 C 0 400 0 200 0 200 C 160.40000000000003 212.26666666666665 320.80000000000007 224.53333333333333 496 218 C 671.1999999999999 211.46666666666667 861.2 186.13333333333333 1021 180 C 1180.8 173.86666666666667 1310.4 186.93333333333334 1440 200 C 1440 200 1440 400 1440 400 Z' stroke='none' stroke-width='0' fill='%2347daf388' class='transition-all duration-300 ease-in-out delay-150 path-1' transform='rotate(-180 720 200)'%3E%3C/path%3E%3Cpath d='M 0 400 C 0 400 0 300 0 300 C 190.66666666666669 281.06666666666666 381.33333333333337 262.1333333333333 533 271 C 684.6666666666666 279.8666666666667 797.3333333333333 316.53333333333336 942 326 C 1086.6666666666667 335.46666666666664 1263.3333333333335 317.73333333333335 1440 300 C 1440 300 1440 400 1440 400 Z' stroke='none' stroke-width='0' fill='%2347daf3ff' class='transition-all duration-300 ease-in-out delay-150 path-2' transform='rotate(-180 720 200)'%3E%3C/path%3E%3C/svg%3E");
    }

    .navbar, .site-name, .toggle-dark-button, a:hover {
        color: var(--c-nav);
    }
    .navbar-item a:hover {
        color: var(--c-text-accent);
    }
   
    a.router-link-active {  
        color: var(--c-text-accent);
    }

    .toggle-color-mode-button .icon {
      color: var(--c-text);
    }

    a:hover {
      color: var(--c-text);
    }

    .grid-body {
      min-height: 450px;
    }

    .grid-cards > article {
      border-radius: 4px;
      z-index: 10;
      background: var(--c-bg);
      box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
      padding: 0 20px 20px;
    }

    
}


/*dark mode*/

html.dark {
  --font-family: 'Dosis-Regular', sans-serif;
  --c-bg: #011a2b;
  --c-nav: #011a2b;
  --c-text: #e0eaf1;
  --c-text-accent: #47daf3;
  --c-bg-navbar: #f89a2a;
  --c-bg-sidebar: var(--c-bg);
  --c-brand: #47daf3;
  --c-border: #0c4c7e;
  --c-brand-light: var(--c-text);
  --navbar-height: 8rem;
  --navbar-padding: 2rem;

  //dark blue svg bg
  .navbar, .page-bar {
    background-color:transparent;
    border-bottom: none;
    background-image: url("data:image/svg+xml,%3Csvg width='100%25' height='100%25' id='svg' viewBox='0 0 1440 400' xmlns='http://www.w3.org/2000/svg' class='transition duration-300 ease-in-out delay-150'%3E%3Cpath d='M 0 400 C 0 400 0 100 0 100 C 203.0666666666666 78.80000000000001 406.1333333333332 57.60000000000001 560 63 C 713.8666666666668 68.39999999999999 818.5333333333335 100.39999999999999 957 111 C 1095.4666666666665 121.60000000000001 1267.7333333333331 110.80000000000001 1440 100 C 1440 100 1440 400 1440 400 Z' stroke='none' stroke-width='0' fill='%230c4c7e77' class='transition-all duration-300 ease-in-out delay-150 path-0' transform='rotate(-180 720 200)'%3E%3C/path%3E%3Cpath d='M 0 400 C 0 400 0 200 0 200 C 160.40000000000003 212.26666666666665 320.80000000000007 224.53333333333333 496 218 C 671.1999999999999 211.46666666666667 861.2 186.13333333333333 1021 180 C 1180.8 173.86666666666667 1310.4 186.93333333333334 1440 200 C 1440 200 1440 400 1440 400 Z' stroke='none' stroke-width='0' fill='%230c4c7e88' class='transition-all duration-300 ease-in-out delay-150 path-1' transform='rotate(-180 720 200)'%3E%3C/path%3E%3Cpath d='M 0 400 C 0 400 0 300 0 300 C 190.66666666666669 281.06666666666666 381.33333333333337 262.1333333333333 533 271 C 684.6666666666666 279.8666666666667 797.3333333333333 316.53333333333336 942 326 C 1086.6666666666667 335.46666666666664 1263.3333333333335 317.73333333333335 1440 300 C 1440 300 1440 400 1440 400 Z' stroke='none' stroke-width='0' fill='%230c4c7eff' class='transition-all duration-300 ease-in-out delay-150 path-2' transform='rotate(-180 720 200)'%3E%3C/path%3E%3C/svg%3E");
  }
  
  .navbar, .site-name, .toggle-dark-button, a:hover {
      color: var(--c-text);
  }

  .navbar-item a:hover {
      color: var(--c-text-accent);
  }
 
  .grid-cards > article {
    border-radius: 4px;
    z-index: 10;
    background: var(--c-border);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    padding: 0 20px 20px;
  }

  .links {
    color: var(--c-text)
  } 
 
}


/*push the page footer to the bottom*/
.page {
  padding-bottom: 0px;
  padding-top: 50px;
}
.footer {
  text-align: center;
  padding: 10px;
  height: 40px;
  background-color: var(--c-bg-footer)
}
.page-meta {
  padding-top: 10rem;
}



/*override*/
h1 {
  font-family: 'Boomer-Tantrum'
}
h3 {
  top: 0px;
}

p, th, td, li { 
    font-size: 1.5em !important;
}

.sidebar-item, .sidebar-item-children ul li {
    font-size: .75em !important;
}

.navbar-items a, .site-name {
    padding-top: 8px;
    font-size: 2em !important;
}

.external-link-icon {
    display: none;
}

#canvas {
  position: absolute;
}



/*homepage*/
.splashLg {
  text-align: center;
  font-size: 4rem !important;
}
.splash {
    text-align: center;
    font-size: 2rem !important;
}
.page-bar {
  text-align: center;
}

/*forms*/
input, textarea {
  color: black;
}
.container {
    padding-top: 100px;
    width: 100%;
    margin: 0 auto;
    position: relative;
  }

  .form-container {
    padding-bottom: 10px;
    max-width: 400px;
  }
  
  #contact input[type="text"],
  #contact input[type="email"],
  #contact textarea {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #FFF;
    margin: 10px;
    padding: 10px;
  }
  
  #contact textarea {
    height: 100px;
    max-width: 100%;
    resize: none;
  }
  
  .button {
    border: 0;
    color: white;
    padding: 10px;
    border-radius: 4px;
    background-color: var(--c-brand);
    color: black;
  }


  
/*grid for cards*/

h2 {
  padding-bottom: 3rem;
  border: none;
}
h4 {
  font-weight: bold;
}
.grid-cards { 
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 10px;
  align-items: stretch; 
}

.grid-cards > article img {
  max-width: 100%;
}

.grid-cards > article .links {
  display: block;
  padding-bottom: 5px;
}

/*cards for body*/
.grid-body { 
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  grid-gap: 10px;
  align-items: stretch; 
}

.grid-body > article img {
  max-width: 100%;
}



#footer {
  display:none;
}

/*teachers pages*/

.highlight {
  background-color: var(--c-text-accent);
  color:black;
}

/* keep all links underlined in the main page for usability*/

main a {
  text-decoration: underline;
}

.coverImg {
  max-width: 100%
}

.body {
  margin: 30px
}