//@import url('https://fonts.googleapis.com/css2?family=Dokdo&family=Fredoka:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Gilda+Display');

:root {
    --font-family: 'Fredoka', sans-serif;
    --c-bg: #EDF2F4;
    --c-text: #2B2D42;
    --c-bg-navbar: #2B2D42;
    --c-bg-sidebar: #EDF2F4;
    --c-border: #dee3e4;
    --c-text-accent: #D90429;
    --c-brand: #D90429;
    --content-width: 100%;
    .navbar, .site-name, .toggle-dark-button, a:hover {
        color: var(--c-bg);
    }
    .navbar-item a:hover {
        color: var(--c-text-accent);
    }
    --c-bg-arrow: var(--c-text-accent);
    a.router-link-active {  
        color: var(--c-text-accent);
    }
    .page-footer {
      text-align: center;
      color: var(--c-bg);
      padding: 1rem;
      background-color: #2B2D42;
    }
    * {
      scrollbar-width: thin;
      scrollbar-color: var(--c-text-accent) var(--c-text-accent);
    }
   
}


/*dark mode*/

html.dark {
  --font-family: 'Fredoka', sans-serif;
  --c-bg: #2B2D42;
  --c-text: #EDF2F4;
  --c-text-accent: #EDF2F4;
  --c-bg-navbar: #D90429;
  --c-brand: #D90429;
  --c-bg-sidebar: var(--c-bg);
  --c-border: #3e4157;
  .navbar, .site-name, .toggle-dark-button, a:hover {
      color: var(--c-text);
  }
  .navbar-item a:hover {
      color: var(--c-text-accent);
  }
  .page-footer {
    text-align: center;
    padding: 1rem;
    background-color: var(--c-brand);
  }
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--c-text-accent) var(--c-text-accent);
  }
 
}


//push the page footer to the bottom
.page {
  padding-bottom: 0px;
}
.page-meta {
  padding-top: 10rem;
}

h1, .navbar {
    font-family: 'Dokdo', cursive;
}

p, th, td, li { 
    font-size: 1.2em !important;
}

.sidebar-item, .sidebar-item-children ul li {
    font-size: 1em !important;
}

.navbar-items a, .site-name {
    padding-top: 8px;
    font-size: 2em !important;
}

.external-link-icon {
    display: none;
}
/*homepage*/
.splashLg {
  text-align: center;
  margin: 0 auto;
  margin-top: 50%;
  font-size: 5rem !important;
}
.splash {
    text-align: center;
    margin: 0 auto;
    margin-top: 50%;
    font-size: 2rem !important;
}

/*forms*/
input, textarea {
  color: black;
}
.container {
    max-width: 400px;
    padding-top: 100px;
    width: 100%;
    margin: 0 auto;
    position: relative;
  }
  
  #contact input[type="text"],
  #contact input[type="email"],
  #contact textarea {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #FFF;
    margin: 10px 0 10px;
    padding: 10px;
  }
  
  #contact textarea {
    height: 100px;
    max-width: 100%;
    resize: none;
  }
  
  button {
    border: 0;
    color: white;
    padding: 10px;
    border-radius: 4px;
    background-color: var(--c-brand);
  }
  /*grid for cards*/

h2 {
  padding-bottom: 3rem;
  border: none;
}
.grid { 
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 10px;
  align-items: stretch;
  
  }
.grid > article {
  border-radius: 4px;
  z-index: 10;
  background: var(--c-bg);
  border-radius: 5px;
  box-shadow:
    5px 0 50px var(--c-brand),
}
.grid > article img {
  max-width: 100%;
}
.text {
  padding: 0 20px 20px;
}
.text > button {
  width: 100%
}
#footer {
  display:none;
}

/*teachers pages*/

.highlight {
  background-color: yellow;
  color:black;
}

//error page

.error {
  text-align: center;
  font-family: 'Gilda Display', serif;
  font-size: 95px;
  font-style: italic;
  text-align: center;
  width: 100px;
  height: 60px;
  line-height: 60px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -60px;
  right: 0;
  animation: noise 2s linear infinite;
  overflow: default;
}

.error:after {
  content: '404';
  font-family: 'Gilda Display', serif;
  font-size: 100px;
  font-style: italic;
  text-align: center;
  width: 150px;
  height: 60px;
  line-height: 60px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  color: blue;
  animation: noise-1 .2s linear infinite;
}

.info {
  text-align: center;
  font-family: 'Gilda Display', serif;
  font-size: 15px;
  font-style: italic;
  text-align: center;
  width: 200px;
  height: 60px;
  line-height: 60px;
  margin: auto;
  position: absolute;
  top: 140px;
  bottom: 0;
  left: 0;
  right: 0;
  animation: noise-3 1s linear infinite;
}

.error:before {
  content: '404';
  font-family: 'Gilda Display', serif;
  font-size: 100px;
  font-style: italic;
  text-align: center;
  width: 100px;
  height: 60px;
  line-height: 60px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  color: red;
  animation: noise-2 .2s linear infinite;
}

@keyframes noise-1 {
  0%, 20%, 40%, 60%, 70%, 90% {opacity: 0;}
  10% {opacity: .1;}
  50% {opacity: .5; left: -6px;}
  80% {opacity: .3;}
  100% {opacity: .6; left: 2px;}
}

@keyframes noise-2 {
  0%, 20%, 40%, 60%, 70%, 90% {opacity: 0;}
  10% {opacity: .1;}
  50% {opacity: .5; left: 6px;}
  80% {opacity: .3;}
  100% {opacity: .6; left: -2px;}
}

@keyframes noise {
  0%, 3%, 5%, 42%, 44%, 100% {opacity: 1; transform: scaleY(1);}  
  4.3% {opacity: 1; transform: scaleY(1.7);}
  43% {opacity: 1; transform: scaleX(1.5);}
}

@keyframes noise-3 {
  0%,3%,5%,42%,44%,100% {opacity: 1; transform: scaleY(1);}
  4.3% {opacity: 1; transform: scaleY(4);}
  43% {opacity: 1; transform: scaleX(10) rotate(60deg);}
}
//passcode

.passcode-input {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: #FFF;
  margin: 10px 0 10px;
  padding: 10px;
  color: black;
}
.message {
  color: red;
}