@import url('https://fonts.googleapis.com/css2?family=Dokdo&family=Fredoka:wght@400&display=swap');

:root {
    --font-family: 'Fredoka', sans-serif;
    /*--c-bg: #EDF2F4;
    --c-text: #2B2D42;
    --c-bg-navbar: #2B2D42;
    --c-bg-sidebar: #EDF2F4;
    --c-border: #dee3e4;
    --c-text-accent: #D90429;*/
    --c-bg: #2B2D42;
    --c-text: #EDF2F4;
    --c-text-accent: #EDF2F4;
    --c-bg-navbar: #D90429;
    --c-bg-sidebar: var(--c-bg);
    --c-border: #3e4157;

    .navbar, .site-name, .toggle-dark-button, a:hover {
        color: var(--c-text);
    }
    .navbar-item a:hover {
        color: var(--c-text-accent);
    }


    --c-brand: var(--c-text-accent);
    --c-bg-arrow: var(--c-text-accent);
    a.router-link-active {  
        color: var(--c-text-accent);
    }
}

/*html.dark {
    --c-bg: #2B2D42;
    --c-text: #EDF2F4;
    --c-text-accent: #EDF2F4;
    --c-bg-navbar: #D90429;
    --c-bg-sidebar: var(--c-bg);
    --c-border: #3e4157;
    .navbar, .site-name, .toggle-dark-button, a:hover {
        color: var(--c-text);
    }
    .navbar-item a:hover {
        color: var(--c-text-accent);
    }
    
}*/

h1, .navbar {
    font-family: 'Dokdo', cursive;
}
//hard overrides here
h1, .navbar site-name {
    font-size: 2.5em !important;
}

.navbar-items a, .site-name {
    padding-top: 8px;
    font-size: 2em !important;
}

.header-anchor {
    display: none;
}
  
.splash {
    text-align: center;
    margin: 0 auto;
    margin-top: 50%;
}

/*forms*/
.container {
    max-width: 400px;
    padding-top: 100px;
    width: 100%;
    margin: 0 auto;
    position: relative;
  }
  #contact h1 {
    color: var(--c-bg);
  }
  
  
  
  
  #contact input[type="text"],
  #contact input[type="email"],
  #contact textarea {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #FFF;
    margin: 10px 0 10px;
    padding: 10px;
  }
  
  #contact input[type="text"]:hover,
  #contact input[type="email"]:hover,
  #contact textarea:hover {
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #aaa;
  }
  
  #contact textarea {
    height: 100px;
    max-width: 100%;
    resize: none;
  }
  
  #contact button[type="submit"] {
    cursor: pointer;
    border: none;
    background: #4CAF50;
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    border-radius: 4px;

  }
  
  #contact button[type="submit"]:hover {
    background: #43A047;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
  }
  
  #contact button[type="submit"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
  }
  
  
  
  #contact input:focus,
  #contact textarea:focus {
    outline: 0;
    border: 1px solid #aaa;
  }